.contact {
  grid-column: full-start / full-end;
  grid-row: 5 / 6;
  margin-top: 12rem;
  z-index: 26;

  &__box {
    padding: 3rem 6rem;
    // box-shadow: 0 4rem 5rem rgba(3, 3, 3, 0.5);
    // border: 1px solid rgba(#696c6e, 0.6);
    border-radius: 0.8rem;
    // overflow: hidden;
    // backdrop-filter: blur(2px);
    min-height: 60rem;
  }
}
