label {
	font-size: 2.35rem;
	color: #f2f2f2;
	display: none;
	grid-row: 1 / 2;
	grid-column: 4 / 5;
	transition: all 0.3s;

	&:active {
		transform: scale(1.5);
	}
}

#toggle {
	display: none;
}

@media (max-width: 900px) {
	label {
		display: block;
		cursor: pointer;
		z-index: 20;
	}

	.header__nav {
		position: fixed;
		top: 0%;
		right: 0%;
		display: none;
	}

	.header__nav-link {
		display: block;
		margin: 1rem 0;
		text-align: start;
		font-size: 3rem;
		// margin-right: 2.97rem;
		line-height: 2;

		@include respond(tab-port) {
			border-bottom: 1px solid #696c6e;
			padding: .1rem .2rem;
			width: 100%;
		}
		@include respond(nav-mobile) {
			font-size: 2rem;
			border-bottom: 1px solid #696c6e;
			padding: 0.1rem .2rem;
			width: 100%;
		}
	}

	.header__nav-icon {
		margin: 0;

		width: 3rem;
		height: 3rem;
	}

	#toggle:checked + .header__nav {
		transition: all 0.5s;
		display: block;
		z-index: 19;
		// background: rgba(#9baed3, .1);
		background-image: linear-gradient(
			to right bottom,
			rgba(#1b1f26, 1),
			rgba(#1e1f24, 1)
		);
		padding: 3rem 6rem;
		box-shadow: 0 4rem 5rem rgba(3, 3, 3, 0.5);
		border: 1px solid rgba(#696c6e, 0.6);
		border-radius: 0.5rem;
		overflow: hidden;
		min-height: 100%;

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(0, -50%);
	}
}
