.heading-1 {
    font-size: 6rem;
    color: #f2f2f2;
    font-weight: 500;
    text-align: center;
    letter-spacing: -1.5px;

    @include respond(tab-land) {
        font-size: 5.5rem;
        letter-spacing: -.1px;
    }

    @include respond(tab-port) {
        font-size: 5.2rem;
        letter-spacing: -.5px;
    }
}

.heading-2 {
    font-size: 3rem;
    color: #f2f2f2;
    font-weight: 500;

    @include respond(tab-land) {
        font-size: 2.5rem;
    }

    @include respond(tab-port) {
        font-size: 2.3rem;
    }
}


.heading-4 {
    font-weight: 400;
}

.paragraph {
    font-size: 1.65rem;
    color: #8c949b;
    text-align: center;

    @include respond(tab-land) {
        font-size: 1.45rem;
    }

    @include respond(tab-port) {
        font-size: 1.3rem !important;
    }
}

.btn {
    font-family: inherit;
    color: #f2f2f2;
    font-size: 1.65rem;
    border: 1px solid rgba(#545962, 1);
    border-radius: 1rem;
    padding: .85rem 1.85rem;
    background-color: transparent;
    cursor: pointer;
    transition: all .3s;
    backface-visibility: hidden;
    text-decoration: none;

    @include respond(tab-land) {
        font-size: 1.35rem !important;
    }

    @include respond(tab-port) {
        font-size: 1.25rem !important;
    }
}