
.mt-sm {
	@include respond(tab-land) {
		margin-top: 1.8rem;
	}

	@include respond(tab-port) {
		margin-top: 1.6rem;
	}
	margin-top: 2rem;
}
.mt-nm {
	@include respond(tab-land) {
		margin-top: 3.6rem;
	}

	@include respond(tab-port) {
		margin-top: 3rem;
	}
	margin-top: 4rem;
}
.mt-bg {
	@include respond(tab-land) {
		margin-top: 4rem;
	}

	@include respond(tab-port) {
		margin-top: 2.6rem;
	}
	margin-top: 8rem;

	@include respond(phone) {
		margin-top: 0rem;
	}
}

.mt-bg-2 {

	@include respond(tab-land) {
		margin-top: 4rem;
	}

	@include respond(tab-port) {
		margin-top: 2.6rem;
	}
	margin-top: 8rem;

	@include respond(phone) {
		margin-top: 0rem;
	}
}
.mt-hg {
	@include respond(tab-land) {
		margin-top: 8rem;
	}

	@include respond(text-end) {
		margin-top: 0rem;
	}
	margin-top: 12rem;
}

.mr-sm {
	@include respond(tab-land) {
		margin-right: 1.8rem;
	}
	margin-right: 2rem;
}
.mr-nm {
	@include respond(tab-land) {
		margin-right: 3.6rem;
	}
	margin-right: 4rem;
}
.mr-bg {
	@include respond(tab-land) {
		margin-right: 5.2rem;
	}
	margin-right: 6rem;
}
.mr-hg {
	@include respond(tab-land) {
		margin-right: 8rem;
	}
	margin-right: 12rem;
}
