.heading {
	grid-column: center-start / center-end;
	grid-row: 2 / 3;
	margin-top: 13.2rem;
	border-bottom: 1px solid rgba(#696c6e, 0.4);
	padding: 1rem;

	.heading-2 {
		font-size: 4rem;
	}

	.heading-3 {
		font-size: 1.8rem;
		color: #cfcece;
		font-weight: 300;
		margin-top: -6rem;
		border-bottom: 1px solid rgba(#f0f0f0, 0.5);
		text-align: start;
		width: max-content;
	}

	.paragraph {
		margin-top: -1rem;
		text-align: start;
	}
}

.content {
	z-index: 20;
	margin-top: 8rem;
	grid-column: center-start / center-end;
	grid-row: 3 / 4;

	&__btn {
		transition: all 0.3s;
		padding: 1.5rem 3rem !important;
		
		&:hover {
			background-color: #3d3d3d;
		}
	}

	&__paragraph {
		@include respond(phone) {
			padding: 1.3rem 2.6rem;
		}

		font-family: "Titillium Web", sans-serif;
		font-size: 1.9rem;
		font-weight: 400;
		color: #ccc;

		letter-spacing: 0.05rem;
		padding: 3rem 6rem;

		background-image: linear-gradient(
			to right bottom,
			rgba(#1b1f26, 0.4),
			rgba(#1e1f24, 0.4)
		);
		box-shadow: 0 4rem 5rem rgba(3, 3, 3, 0.5);
		border: 1px solid rgba(#696c6e, 0.6);
		border-radius: 0.5rem;
		overflow: hidden;
	}
}

.span-text {
	font-family: "Titillium Web", sans-serif;
}

.cssjoke {
	object-fit: cover;
}

.buttontext {
	font-size: 2.2rem;
}