.mt-sm {margin-top: 2rem;}
.mt-nm {margin-top: 4rem;}
.mt-bg {margin-top: 6rem;}
.mt-hg {margin-top: 12rem;}

.mr-sm {margin-right: 2rem;}
.mr-nm {margin-right: 4rem;}
.mr-bg {margin-right: 6rem;}
.mr-hg {margin-right: 12rem;}


@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.span-font {
    font-family: 'Inconsolata', monospace;
}

.span-bold {
    font-weight: 800;
}

.span-italic {
    font-style: italic;
}